* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


header {
    height: 150px;
}

.btn-primary {
    background-color: #ED931F;
    border: none;
    font-size: 14px;
    padding: 10px 40px;
}

.btn-primary:hover {
    background-color: #8a5a1b;
}

/* CSS do headline */

#headline {
    background-image: url(https://static.wixstatic.com/media/8a3e6d_653707d69ccc45c28d7b492446b093fc~mv2.jpg/v1/fill/w_1414,h_700,al_t,q_85,enc_auto/8a3e6d_653707d69ccc45c28d7b492446b093fc~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 750px;
    z-index: 1;
}

.navbar-brand:hover {
    display: none;

}

#name {
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 42px;
    top: 10px;
}



#lastname {
    font-size: 16px;
    position: absolute;
    left: 43px;
    top: 50px;
    letter-spacing: 2px;
}

/* CSS navbar */

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background-color: gray;
}

.navbar-brand {
    z-index: 1000;
    color: #fff;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.nav-link:hover {
    color: #ED931F;
}

.navbar-nav .nav-link.active {
    color: #ED931F;
}

.navbar-nav {
    float: right;
}

.quadrado {
    height: 90px;
    width: 92px;
    border: 1px solid rgb(237 147 31);
    background-color: rgb(237 147 31);
    position: relative;
    top: 20px;
    left: 20px;
}

#text {
    font-family: "Libre Baskerville", serif;
    line-height: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 60px;
    left: 20px;
}

#subtitle {
    font-size: 14px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 80px;
    left: 18px;
}

.button-header {
    position: relative;
    top: 110px;
    left: 20px;
}

/* CSS do Profile */

#profile {
    background-color: rgb(250, 250, 250);
    padding: 20px;
}

.card {
    width: 100%;
    padding: 80px;
    border: solid 10px;
    border-radius: 0;
    border-color: rgb(183 223 237);
    display: flex;
}

.image-profile {
    width:100% ;
}

.card-subtitle {
    font-size: 35px;
    color: #2E3138;
    font-family: "Libre Baskerville", serif;
    text-align: start;
}

.card-text {
    font-size: 14px;
    text-align: start;
    line-height: 1.7em;
}

/* CSS services */

#services {
    padding: 20px;

}

.col-md-3 {
    text-align: center;
    padding: 4em;
    display: grid;
}

.text-center {
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    text-transform: uppercase;
}

.span-title {
    color: #fffefe;
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    text-align: center;
}

.span-text {
    color: #fffefe;
    font-size: 14px;
    text-align: center;
    bottom: 40px;
}

.services-image {
    margin-bottom: 30px;
    justify-self: center;
}

.article-service-3 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}



/* CSS do Client */

#client {
    background-image: url(https://static.wixstatic.com/media/5a0a94_2bb99d4204804188ad7697d85b999be5~mv2.jpg/v1/fill/w_1349,h_602,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5a0a94_2bb99d4204804188ad7697d85b999be5~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}

#contact {
    background-color: rgb(240, 233, 233);
}

.text-center-client {
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    text-transform: uppercase;
    justify-items: center;
    color: #fff;
    text-align: center;
}



h2::after {
    content: "";
    width: 210px;
    height: 8px;
    background-color: rgb(237 147 31);
    display: block;
    margin: 10px auto;
}

#services {
    background-color: rgb(216, 234, 240);
}

/* Contato do CSS */

.text-center-contact {
    color: rgb(147, 181, 196);
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    text-transform: uppercase;
    justify-items: center;
}

.text-contact {
    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 1.7em;
    width: 85%;
}

form {
    box-sizing: border-box;
    width: 90%;
    max-height: 100%;
    border-radius: 100px;
    line-height: 0.2em;
}

.form-control {
    border-radius: 0;
    padding: 3px 3px 3px 24px;
}

textarea {
    display: block;
    margin-bottom: 10px;
    min-width: 100%;
    height: 125px;
    padding: 10px 10px 3px 24px;
    resize: none;
}

.button-contact {
    margin-bottom: 10px;
    display: block;
    justify-self: end;
}



.h3-contact {
    font-family: "Libre Baskerville", serif;
    color: rgb(237, 147, 31);
    font-size: 22px;
    text-align: center;
    width: 90%;
}


.contact-address {
    display: block;
    justify-items: center;
    text-align: center;
}

.address {
    margin-bottom: 100px;
}

/* CSS do Footer  */


#footer-page {
    background-color: rgb(46, 49, 56);
    color: #fff;
}


.image-footer {
    display: flex;
    position: relative;
    margin-right: 20px;
    left: 85px;
    top: 4px;
}

.image-socialmedia {
    height: 20px;
    justify-items: baseline;
}

.container-flex {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 50px;
}

.barra {
    width: 26px;
    height: 5px;
    position: relative;
    top: 18px;
    border-top: 2px solid;
    transform: rotate(90deg);
    color: rgb(108 113 122);
    left: 200px;
}

.text-footer {
    position: absolute;
    left: 650px;
    top: 8px;
    font-size: 14px;
}

.footer-socialmedia {
    position: relative;
    top: 7px;
    font-size: 14px;
    left: 85px;
}

/* Cores de fundo */

#background-color1 {
    background-color: rgb(20 22 27);
}

#background-color2 {
    background-color: rgb(91 111 118);
}

#background-color3 {
    background-color: rgb(147 181 196);
}

#background-color4 {
    background-color: rgb(183 223 237);
}

#background-color-div {
    background-color: rgb(216, 234, 240);
}