* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


header {
    height: 150px;
}

.btn-primary {
    background-color: #ED931F;
    border: none;
    font-size: 14px;
    padding: 10px 40px;
}

.btn-primary:hover {
    background-color: #8a5a1b;
}

/* CSS do headline */

#headline {
    background-image: url(https://static.wixstatic.com/media/8a3e6d_653707d69ccc45c28d7b492446b093fc~mv2.jpg/v1/fill/w_1414,h_700,al_t,q_85,enc_auto/8a3e6d_653707d69ccc45c28d7b492446b093fc~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 750px;
    z-index: 1;
}

.navbar-brand:hover {
    display: none;

}

#name {
    padding-left: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 1;

}

#lastname {
    display: grid;
    padding-left: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 1;

}

/* CSS navbar */

.navbar-collapse {
    justify-content: flex-end;
    margin-top: 100px;
}

.navbar-brand {
    z-index: 1000;
    color: #fff;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.nav-link:hover {
    color: #ED931F;
}

.navbar-nav .nav-link.active {
    color: #ED931F;
}

.quadrado {
    height: 90px;
    width: 92px;
    border: 1px solid rgb(237 147 31);
    background-color: rgb(237 147 31);
    position: absolute;
}

#text {
    font-family: "Libre Baskerville", serif;
    line-height: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);

}

/* CSS do Profile */

#profile {
    background-color: rgb(250, 250, 250);
    padding: 20px;
}

.card {
    width: 100%;
    padding: 80px;
    border: solid 10px;
    border-radius: 0;
    border-color: rgb(183 223 237);
    display: flex;
}

.card-subtitle {
    font-size: 35px;
    color: #2E3138;
    font-family: "Libre Baskerville", serif;
    text-align: start;
}

.card-text {
    font-size: 14px;
    text-align: start;
}

/* CSS services */

#services {
    padding: 20px;
}

.col-md-3 {
    text-align: center;
    padding: 70px;
    display: block;
    justify-content: center;
}

.text-center {
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;

}

.span-title {
    color: #fffefe;
    text-transform: uppercase;
}

.span-text {
    color: #fffefe;
    font-size: 14px;
}

.services-image {
    padding-bottom: 20px;
}

.button-service {
    margin-top: 50px;
}

/* CSS do Client */

#client {
    background-image: url(https://static.wixstatic.com/media/5a0a94_2bb99d4204804188ad7697d85b999be5~mv2.jpg/v1/fill/w_1349,h_602,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5a0a94_2bb99d4204804188ad7697d85b999be5~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}

#contact {
    background-color: rgb(240, 233, 233);

}

#footer-page {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 49, 56);
    color: #fff;
    display: grid;
    height: auto;
}

.container-flex {
    display: flex;
    list-style-type: none;
}

h2::after {
    content: "";
    width: 210px;
    height: 8px;
    background-color: rgb(237 147 31);
    display: block;
    margin: 10px auto;
}


#subtitle {
    font-size: 14px;
    color: rgb(255, 255, 255);
}


#services {

    background-color: rgb(216, 234, 240);
}

/* Cores de fundo */

#background-color1 {
    background-color: rgb(20 22 27);
}

#background-color2 {
    background-color: rgb(91 111 118);
}

#background-color3 {
    background-color: rgb(147 181 196);
}

#background-color4 {
    background-color: rgb(183 223 237);
}

#background-color-div {
    background-color: rgb(216, 234, 240);
}