* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


header {
    height: 150px;
}

.button {
    background-color: #ED931F;
    border: none;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 0;
    color: #fff;
    height: auto;
    width: auto;
}

.button:hover {
    background-color: #8a5a1b;
}

/* CSS do headline */

#headline {
    background-image: url(https://static.wixstatic.com/media/8a3e6d_653707d69ccc45c28d7b492446b093fc~mv2.jpg/v1/fill/w_1414,h_700,al_t,q_85,enc_auto/8a3e6d_653707d69ccc45c28d7b492446b093fc~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 1;
}

.navbar-brand:hover {
    display: none;

}

#name {
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 42px;
    top: 40px;
}



#lastname {
    font-size: 16px;
    position: absolute;
    left: 43px;
    top: 79px;
    letter-spacing: 2px;
}

/* CSS navbar */

.navbar-expand-lg .navbar-collapse {
    margin-top: 0px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background-color: gray;
}

.navbar-brand {
    z-index: 1000;
    color: #fff;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.nav-link:hover {
    color: #ED931F;
}

.navbar-nav .nav-link.active {
    color: #ED931F;
}

.navbar-nav {
    float: right;
}

.quadrado {
    height: 90px;
    width: 92px;
    border: 1px solid rgb(237 147 31);
    background-color: rgb(237 147 31);
    margin-top: 20px;
}

#text {
    font-family: "Libre Baskerville", serif;
    line-height: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-bottom: 22px;

}

#subtitle {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.button-header {
    margin: 30px 0;
}

/* CSS do Profile */

#profile {
    background-color: rgb(250, 250, 250);
    padding: 20px;
}

.profile-item {
    display: flex;
    gap: 30px;
}

#profile .card-body {
    width: 100%;
    padding: 80px;
    border: solid 10px;
    border-radius: 0;
    border-color: rgb(183 223 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-profile {
    width: 100%;
}

.card-subtitle {
    font-size: 35px;
    color: #2E3138;
    font-family: "Libre Baskerville", serif;
    text-align: start;
}

.card-text {
    font-size: 14px;
    text-align: start;
    line-height: 1.7em;
}

/* CSS services */

#services {
    padding: 20px;
    background-color: rgb(216, 234, 240);
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
}

#services h2 {
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    text-transform: uppercase;
    justify-items: center;
    text-align: center;
}

#services h3 {
    color: #fffefe;
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    text-align: center;
}

#services p {
    color: #fffefe;
    font-size: 14px;
    text-align: center;
}

#services img {
    margin-bottom: 30px;
    justify-self: center;
}




/* CSS do Client */

#client {
    background-image: url(https://static.wixstatic.com/media/5a0a94_2bb99d4204804188ad7697d85b999be5~mv2.jpg/v1/fill/w_1349,h_602,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5a0a94_2bb99d4204804188ad7697d85b999be5~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#client h2 {
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    text-transform: uppercase;
    justify-items: center;
    color: #fff;
    text-align: center;
}

.client_image {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

h2::after {
    content: "";
    width: 210px;
    height: 8px;
    background-color: rgb(237 147 31);
    display: block;
    margin: 10px auto;
}



/* Contato do CSS */

#contact {
    background-color: rgb(240, 233, 233);
}

.text-center-contact {
    color: rgb(147, 181, 196);
    padding: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    text-transform: uppercase;
    justify-items: center;
}

.text-contact {
    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 1.7em;
    width: 85%;
}

form {
    box-sizing: border-box;
    width: 90%;
    max-height: 100%;
    border-radius: 100px;
    line-height: 0.2em;
    border: none;
}

.form-control {
    border-radius: 0;
    padding: 3px 3px 3px 24px;
}

textarea {
    display: block;
    margin-bottom: 10px;
    min-width: 100%;
    height: 125px;
    padding: 10px 10px 3px 24px;
    resize: none;
    border: none;
}

.button-contact {
    margin-bottom: 100px;
    display: flex;
    justify-self: end;
    height: 36px;
    align-items: center;
}


.h3-contact {
    font-family: "Libre Baskerville", serif;
    color: rgb(237, 147, 31);
    font-size: 22px;
    text-align: center;
    width: 90%;
}


.contact-address {
    display: block;
    justify-items: center;
    text-align: center;
}

.address {
    margin-bottom: 100px;
}



/* CSS do Footer  */


#footer-page {
    background-color: rgb(46, 49, 56);
    color: #fff;
}


.image-footer {
    display: flex;
    margin: 10px;
    list-style: none;
    height: 20px;
}

.image-socialmedia {
    height: 20px;
    margin-right: 20px;
}

.container-flex {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.barra {
    width: 26px;
    height: 5px;
    border-top: 2px solid;
    transform: rotate(90deg);
    color: rgb(108 113 122);
    align-self: center;
}

.text-footer {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-self: center;
}

.footer-socialmedia {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Cores de fundo */

#background-color1 {
    background-color: rgb(20 22 27);
}

#background-color2 {
    background-color: rgb(91 111 118);
}

#background-color3 {
    background-color: rgb(147 181 196);
}

#background-color4 {
    background-color: rgb(183 223 237);
}

#background-color-div {
    background-color: rgb(216, 234, 240);
}


/* Media CSS */

/* Media profile */
@media (max-width: 1150px) {
    #profile .profile-item {
        flex-direction: column;
    }
}

/* media footer */
@media (max-width: 450px) {
    .barra {
        display: none;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
    }

    .image-footer {
        padding: 0;
    }
}


@media (max-width: 991px) {
    .navbar-nav {
        background-color: rgb(91 111 118);
    }
}

@media (max-width: 430px) {
    .card-subtitle {
        font-size: 25px;
        align-self: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 430px) {
    .card-text {
        font-size: 12px;
        align-self: center;
    }
}

@media (max-width: 430px) {
    #profile .card-body {
        padding: 25px;
    }
}